<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs2UDIaR2s2VreVsrJoaM4XjjjHmm4AlE</string>
	<key>GCM_SENDER_ID</key>
	<string>920558969670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naabh.locainfo</string>
	<key>PROJECT_ID</key>
	<string>locainfo-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>locainfo-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920558969670:ios:d5bb9053f2be83713ebb47</string>
</dict>
</plist>